body{
    box-sizing: border-box;
    background-color: #ffe9db;
}
#main-container{
    overflow:hidden;
}
#game-container{
    width:80%;
}
#info-container{
    width:20%;
}
#canvas{
    padding: 0;
    margin: auto;
    display: block;
}