body{
    box-sizing: border-box;
    background-color: #ffe9db;
    font-family: 'Nunito', sans-serif;    
}
#heading{
    background-color: black;
    margin-bottom: -21px;
    margin-top: -20px;
    width: 99%;
    border-radius: 5px;
}
h1{
    text-align: center;
    color: white;
}
#left-container{
    border: 1px solid #ffe9db;
    background-color: #ffe9db;
    float:left;
}
#game-container{
    /*border: 1px solid black;*/
    float:left;
}
#main-container{
    overflow:hidden;
    padding: 0;
    margin: auto;
    display: block;
}
#right-container{
    /*border: 1px solid black;*/
    border: 1px solid #ffe9db;
    float:left;
}
#info-container{
    width: 15%;
    float: left;
    margin-top: 20%
}
#canvas{
    padding: 0;
    margin: auto;
    display: block;
}
#footer{
    color: white; 
    overflow: auto;
    border-radius: 5px;
    width: 99%;
    margin-top: -12px;
    text-align: center;
    font-size: 16px;
}
#level-container{
    border: 1px solid black;
    float:left;
    width:49%;
    background-color: black;
}
#row-container{
    border: 1px solid black;
    float:left;
    width:49%;
    background-color: black;
}